# Local .terraform/ state and provider files
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.tfplan
*.tfstate
*.tfstate.backup

# Terraform lock info
*.tfstate.lock.info

# Sensitive variable overrides
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Editor/IDE junk
*.swp
*.bak
*.tmp
*.log
.vscode/
.idea/
.DS_Store

# OS junk
Thumbs.db
ehthumbs.db
desktop.ini
